body {
  font-family: Arial, sans-serif;
}

.register-page {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f0f4f8, #e0e7ef);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-container {
  width: 100%;
  max-width: 400px;
}

.back-link {
  margin-bottom: 16px;
}

.back-link a {
  text-decoration: none;
  color: #555;
}

.card {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
      margin-bottom: 72px;

}

.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.password-wrapper button {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  color: #08733a;
  cursor: pointer;
}

.form-group.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #08733a;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #08733a;
}

.bottom-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.bottom-text a {
  color: #08733a;
  text-decoration: none;
}
